@import "_mixin";


@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.otf') format('opentype'),
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@keyframes scaleBtn {
  0% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
@keyframes scaleBg {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

body {
  font-family: "STHeiti TC", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}

* {
  box-sizing: border-box;
}
